<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">客户姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" value='{$vo.name|default=""}' required="required" title="请输入客户姓名" placeholder="请输入客户姓名" class="layui-input">    
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电话号码</label>
        <div class="layui-input-block">
            <input type="tel" autofocus name="tel" value='{$vo.tel|default=""}' title="请输入电话号码" placeholder="请输入电话号码" class="layui-input" required>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所在地区</label>
        <div class="layui-input-block">
            <input type="location" name="location" value='{$vo.location|default=""}' title="请输入所在地区" placeholder="请输入所在地区" class="layui-input" required>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所在公司</label>
        <div class="layui-input-block">
            <input type="company" name="company" value='{$vo.company|default=""}' title="请输入所在公司" placeholder="请输入所在公司" class="layui-input" required>
        </div>
    </div>
    
     <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="email" name="email" value='{$vo.email|default=""}' title="请输入邮箱" placeholder="请输入邮箱" class="layui-input" required>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">微信</label>
        <div class="layui-input-block">
            <input type="wechat" name="wechat" value='{$vo.wechat|default=""}' title="请输入微信" placeholder="请输入微信" class="layui-input" required>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">QQ</label>
        <div class="layui-input-block">
            <input type="qq" name="qq" value='{$vo.qq|default=""}' title="请输入QQ" placeholder="请输入QQ" class="layui-input" required>
        </div>
    </div>

    
     <div class="layui-form-item">
        <label class="layui-form-label">从事行业</label>
        <div class="layui-input-block">
            <input type="industry" name="industry" value='{$vo.industry|default=""}' title="请输入从事行业" placeholder="请输入从事行业" class="layui-input" required>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">目标产品</label>
        <div class="layui-input-block">
            <select name='objective' class='layui-select full-width' style='display:none'>  
                {foreach $menus as $menu}
                    <option  value='{$menu.id}'>{$menu.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">跟进处置</label>
        <div class="layui-input-block">
            <select name='disposals' class='layui-select full-width' style='display:none'>    
                 {foreach $menus as $menu}
                    <option  value='{$menu.id}'>{$menu.name}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">跟进原因</label>
        <div class="layui-input-block">
            <select name='followup' class='layui-select full-width' style='display:none'>
                {foreach $menus as $menu}
                    <option  value='{$menu.id}'>{$menu.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">客户状态</label>
        <div class="layui-input-block">
            <select name='status' class='layui-select full-width' style='display:none'>
                {foreach $menus as $menu}
                    <option  value='{$menu.id}'>{$menu.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">客户来源</label>
        <div class="layui-input-block">
            <select name='source' class='layui-select full-width' style='display:none'>
                 {foreach $menus as $menu}
                    <option  value='{$menu.id}'>{$menu.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">客户类型</label>
        <div class="layui-input-block">
            <select name='types' class='layui-select full-width' style='display:none'>
                 {foreach $menus as $menu}
                    <option  value='{$menu.id}'>{$menu.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="remarks" name="remarks" value='{$vo.industry|default=""}' title="请输入备注" placeholder="请输入备注" class="layui-input" required>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
 <!--        <input type='hidden' value='<?php echo date('Y-m-d'); ?>' name='followtime'/> -->
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
    
</form>
